<section id="post">
    <div class="control-bar">
        <a ng-click="PostSrv.onPreview(post)" class="btn btn-primary">
            <i class="icon-eye-open"></i> Preview
        </a>
        <a ng-click="PostSrv.onDestroy(post)" class="btn btn-primary">
            <i class="icon-trash"></i> Delete
        </a>
        <a ng-click="PostSrv.onSave(post)" class="btn btn-primary"
           ng-class="PostSrv.isSavedClass()" ng-disabled="isClean()">
            <i class="icon-check" ng-class="PostSrv.isSavedClass()"></i> Save
        </a>
    </div>
    <article>
            <input ng-model="post.title"/>
            <p class="lead">
                <time>{{post.date | date:'MMM d yyyy'}}</time>
            </p>
        <div class="page-content">
            <textarea id="post-editor" class="post-input common" ng-model="post.text"/>
        </div>
    </article>
</section>

