<section id="post" ng-controller="EditPostCtrl">
    <div>
        <button ng-click="onBack()" class="btn btn-primary">
            <i class="icon-chevron-left"></i> Back
        </button>
        <button ng-click="postService.onSave(post)" class="btn btn-primary"
                ng-disabled="isClean()">
            <i class="icon-check"></i> Save
        </button>
        <button ng-click="postService.onDestroy(post)" class="btn btn-primary pull-right">
            <i class="icon-trash"></i> Delete
        </button>
    </div>
    <article>
            <input ng-model="post.title"/>
            <p class="lead">
                <time>{{post.date | date:'MMM d yyyy'}}</time>
            </p>
            <textarea id="post-editor" class="post-input common" ng-model="post.text"/>
    </article>
</section>

