<section id="post">
    <div class="control-bar well-inverse">
        <a ng-click="PostSrv.onPreview(post)">
            <div class="control-wrap">
                <div>
                    <i class="icon-eye-open"></i>
                </div>
            </div>
        </a>
        <a ng-click="PostSrv.onDestroy(post)">
            <div class="control-wrap">
                <div>
                    <i class="icon-trash"></i>
                </div>
            </div>
        </a>
        <a ng-click="PostSrv.onSave(post)"
           ng-class="PostSrv.isSavedClass()" ng-disabled="isClean()">
            <div class="control-wrap">
                <div>
                    <i class="icon-save" ng-class="PostSrv.isSavedClass()"></i>
                </div>
            </div>
        </a>
    </div>
    <article class="well-inverse">
        <header>
            <input ng-model="post.title"/>
            <time><strong>{{post.date | date:'MMM d'}}</strong> {{post.date | date:'yyyy'}}</time>
        </header>
        <div class="page-content">
            <textarea id="post-editor" class="post-input" ng-model="post.text" class="common"/>
        </div>
    </article>
</section>

