<section id="post">
    <div class="control-bar well-inverse">
        <a ng-click="PostSrv.onPreview(post)" class="btn btn-primary">
            <i class="icon-eye-open"></i> Preview
        </a>
        <a ng-click="PostSrv.onDestroy(post)" class="btn btn-primary">
            <i class="icon-trash"></i> Delete
        </a>
        <a ng-click="PostSrv.onSave(post)" class="btn btn-primary"
           ng-class="PostSrv.isSavedClass()" ng-disabled="isClean()">
            <i class="icon-check" ng-class="PostSrv.isSavedClass()"></i> Save
        </a>
    </div>
    <article class="well-inverse">
        <header>
            <input ng-model="post.title"/>
            <time><strong>{{post.date | date:'MMM d'}}</strong> {{post.date | date:'yyyy'}}</time>
        </header>
        <div class="page-content">
            <textarea id="post-editor" class="post-input" ng-model="post.text" class="common"/>
        </div>
    </article>
</section>

