<div ng-controller="NavCtrl" class="row-fluid well">
    <p>
        <a ng-click="PostSrv.onQuery()">
            <div class="dewmap-logo"></div>
            <div class="dewmap"></div>
        </a>
    </p>
    <p>
      <button class="btn btn-large btn-block btn-inverse" type="button" ng-click="PostSrv.onQuery()">Post</button>
    </p>
    <p>
        <button class="btn btn-large btn-block btn-inverse" type="button" ng-click="PostSrv.onAdmin()">{{loginStatus}}</button>
    </p>
</div>

