<div id="post-list" ng-controller="PostsCtrl">
    <a class="control-bar" ng-click="PostSrv.onNew()" ng-show="PostSrv.isAdmin">
        <div class="control-wrap">
            <div>
                <i class="icon-plus"></i>
            </div>
        </div>
        <h1 class="control-title">Add New Post</h1>
    </a>
    <ul>
        <li ng-repeat="post in posts">
            <a ng-click="PostSrv.onDestroy(post)" ng-show="PostSrv.isAdmin" class="control-btn">
                <div class="control-wrap">
                    <div>
                        <i class="icon-trash"></i>
                    </div>
                </div>
            </a>
            <a ng-click="PostSrv.onRead(post._id)">
                <h1>{{post.title}}</h1>
                <time><strong>{{post.date | date:'MMM d'}}</strong> {{post.date | date:'yyyy'}}</time>
            </a>
        </li>

    </ul>
</div>