<section id="post" ng-controller="PostCtrl">
    <button ng-click="postService.onEdit(post._id)" class="btn btn-primary" ng-show="postService.isLoggedIn">
        <i class="icon-edit"></i> Edit
    </button>
    <article>
        <div class="page-header">
            <h1>{{post.title}}</h1>
        </div>
        <p class="lead">
            <time>{{post.date | date:'MMM d yyyy'}}</time>
        </p>
        <dp-markdown my-attr="post.text"></dp-markdown>
    </article>
</section>