<section id="post">

    <div class="control-bar">
        <a ng-click="PostSrv.onEdit(post._id)" ng-show="PostSrv.isAdmin">
            <div class="control-wrap">
                <div>
                    <i class="icon-pencil"></i>
                </div>
            </div>
        </a>
    </div>

    <article>
        <header>
            <h1>{{post.title}}</h1>
            <time><strong>{{post.date | date:'MMM d'}}</strong> {{post.date | date:'yyyy'}}</time>
        </header>
        <div class="page-content">
            <dp-markdown my-attr="post.text"></dp-markdown>
        </div>
    </article>




</section>