<section id="post" ng-controller="PostCtrl">
    <button ng-click="postService.onEdit(post._id)" class="btn btn-primary" ng-show="postService.isLoggedIn">
        <i class="icon-edit"></i> Edit
    </button>
    <article>
        <div class="page-header">
            <h1>{{post.title}}</h1>
        </div>
        <p class="lead">
            <time>{{post.date | date:'MMM d yyyy'}}</time>
        </p>
        <dp-markdown my-attr="post.text"></dp-markdown>
    </article>
    <div id="disqus_thread"></div>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

</section>