<section id="post">
    <a ng-click="PostSrv.onEdit(post._id)" class="btn btn-primary" ng-show="PostSrv.isAdmin">

        <i class="icon-edit"></i> Edit
    </a>
    <article>
        <div class="page-header">
            <h1>{{post.title}}</h1>
        </div>
        <p class="lead">
            <time>{{post.date | date:'MMM d yyyy'}}</time>
        </p>
        <dp-markdown my-attr="post.text"></dp-markdown>
    </article>
</section>