<section id="post">
    <div class="control-bar well-inverse" ng-show="PostSrv.isAdmin">
        <a ng-click="PostSrv.onEdit(post._id)" class="btn btn-primary">

                    <i class="icon-edit"></i> Edit
        </a>
    </div>
    <article class="well-inverse">
        <header>
            <h1>{{post.title}}</h1>
            <time><strong>{{post.date | date:'MMM d'}}</strong> {{post.date | date:'yyyy'}}</time>
        </header>
        <div class="page-content">
            <dp-markdown my-attr="post.text"></dp-markdown>
        </div>
    </article>
</section>