<section ng-controller="PostsCtrl">
    <a class="btn btn-primary" ng-click="postService.onNew()" ng-show="postService.isLoggedIn">

        <i class="icon-plus"></i> Add

    </a>
    <ul id="posts">
        <li ng-repeat="post in posts">
            <div class="row">
                <div class="span12">
                    <a ng-click="postService.onRead(post._id)" class="post-test">
                        <h2>{{post.title}}</h2>
                        <p class="lead">
                            <time>{{post.date | date:'MMM d yyyy'}}</time>
                        </p>
                    </a>
                </div>
            </div>
            <hr>
        </li>
    </ul>
</section>


