@import "compass/css3";
@import "compass/utilities";



* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


ul, li{
  padding: 0;
  margin: 0;
}

form{
  input{
    height: 30px !important;
  }
}

//.dewmap-logo {
//  background-position: center;
//  background-repeat: no-repeat;
//  background-image: url('/assets/img/logo_blk.png');
//  height: 60px;
//  width: 100%;
//}
//
//.dewmap {
//  background-position: center;
//  background-repeat: no-repeat;
//  background-image: url('/assets/img/dewmap.png');
//  height: 70px;
//  width: 100%;
//}

#posts{
  li{
    list-style: none;
    a{
      text-decoration: none;
    }

    h2{
      color: #5a5a5a;
    }

    &:hover{
      h2{
        color: #000000;
      }
      time{
        color: #005580;
      }
    }

    hr, .lead{
      margin: 0;
      padding: 0;
    }

    time{
      display: block;
      padding-bottom: 20px;
    }
  }
}


#post{
  input {

    border: 0px solid;
    padding: 0;
    margin: 0;
    width: 100%;
    //padding: 25px;
    //vertical-align: middle;
    //text-align: auto;

    font-size: 36px;
    line-height: 40px;

    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 1;
    color: inherit;
    text-rendering: optimizelegibility;

    //&:focus {
    //  outline: none;
    //}
  }

  p, blockquote {
    margin: 0 0 30px;
  }

  textarea {
    width: 100%;
    border: 0px solid;
    padding: 0;
    @include box-shadow(0 0 0 rgba(0,0,0,0));

    &:focus {
      outline: none;
    }
  }

  time{
    color: #0088cc;
  }

}


//.well-inverse{
//  min-height: 20px;
//  padding: 19px;
//  margin-bottom: 20px;
//  background-color: #ffffff;
//  border: 1px solid #e5e5e5;
//  @include border-radius(4px);
//  @include box-shadow(0 1px 4px rgba(0,0,0,.065));
//}
