@import "base.scss";


.control-btn{
  vertical-align: bottom;
}

.control-wrap{
  display: inline-block;
  margin: 4px;
  line-height: 75px;
  text-align: center;
  height: 75px;
  width: 75px;

  div{
    margin-top: -4px;
    font-size: 40px;
  }
}

.control-bar{
  h1{
    display: inline-block;
  }
}

.txtstuff{
  resize: none;
  overflow: hidden;
}

.hiddendiv{
  display: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.common{
  width: 500px;
  min-height: 50px;
  overflow: hidden;
}

.lbr{
  line-height: 3px;
}