/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "base.scss";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 1px;
  font-size: 16px;
  font-style: normal;
  color: $para-color;
  font-variant: normal;
  font-weight: 300;
  line-height: 26px;
  height: 100%;
  font-family: 'lato';

  a {
    color: black;
    text-decoration: none;
  }
}


#main-content {
  overflow-y: scroll;
  height: 100%;
  margin-left: $nav-width;
}


#main-nav {
  float: left;
  width: $nav-width;
  height: 100%;
  border-right: solid 1px $border-color;

  #nav-logo {

    .icon-logo {
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('/assets/img/logo.png');
    }

    @include nav-hover-color(#000000);

    &:hover {
      .logo {
        background-image: url('/assets/img/dewmap_w.png');
      }
    }

  }

  #nav-posts {
    @include nav-hover-color($c1);
  }

  #nav-about {
    @include nav-hover-color($c2);
  }

  #nav-contact {
    @include nav-hover-color($c3);
  }

  #nav-github {
    @include nav-hover-color($c4);
  }

  #nav-twitter {
    @include nav-hover-color($c5);
  }

  #nav-admin {
    @include nav-hover-color(#000000);
  }

  li {

    @include post-title-wrap;

    h1 {
      @include post-title;
      font-size: 16px;
      padding-top: 27px;
      margin-left: $box-size;
    }

    i {
      @include icon;
    }

    a{
      width: 100%;
      height: 100%;
      display: inline-block;
    }

    .shine {
      @include shine;
      left: 5px;
    }

    .logo {
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('/assets/img/dewmap.png');
      height: $box-size;
      margin-left: $box-size;
      margin-top: -4px;
    }

  }

}



#post-list {

  &:first-child {
    //border-top: solid 1px red;
  }

  li {
    @include post-title-wrap;

    &:hover {
      background-color: #000000;
      h1 {
        color: #ffffff;
      }
    }

    a{
      width: 100%;
      height: 100%;
      //display: inline-block;
    }

    h1 {
      @include post-title;
    }

    time {
      @include post-time;
    }

    .shine {
      right: 5px;
      @include shine;
    }



  }
}

#post {


  article {


    header {
      @include post-title-wrap;

      input{
        @include post-title;
        border: 0px solid;
        padding: 0;
        margin: 0;
        width: 100%;
        padding-right: 100px;
        padding-top: 18px;
        vertical-align: middle;
        text-align: -webkit-auto;
        padding-left: 25px;
        padding-bottom: 20px;

        &:focus{
          outline: none;
        }
      }



      h1 {
        @include post-title;
      }

      time {
        @include post-time;
      }

      .shine {
        right: 5px;
        @include shine;
      }
    }

    .post-content {

      padding: $gap;
      padding-right: $box-size + $gap;
      max-width: $content-width;

      textarea{
        width: 100%;
        height: 700px;
        border: 0px solid;
        font-size: 16px;
        color: $para-color;

        &:focus{
          outline: none;
        }
      }


      p {
        margin-bottom: 50px;
        text-align: justify;
      }

      strong {
        color: #000000;
        font-weight: bold;
      }

      h1 {
        color: #000000;
        font-size: 28px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: $gap;
      }

      h2 {
        color: #000000;
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: $gap;
      }
    }

  }

}


.title-input-wrapper {
  max-width: $content-width;
  line-height: $box-size;
  padding-left: $gap;
  padding-right: $gap + $box-size;
}

.date-input-wrapper {
  padding: 20px 5px;
  width: $box-size;
  height: $box-size;
}

.date-input {
  width: 100%;
  line-height: 17px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  resize: none;
  //vertical-align: middle;
}

.title-input {
  width: 100%;
  padding-left: 0;
  vertical-align: middle;
}


.is-not-admin {
  display: none;
}

.is-saved {
  color: rgba($border-color, .2);
  border-color: rgba($border-color, .2);
}

.control-wrap-left{
  float: left;
  clear: both;
  line-height: $box-size;
  text-align: center;
  height: $box-size;
  width: $box-size;
  @include border-radius(85px);
  border: solid $border-color 5px;
  color: $border-color;
  &:hover {
    border-color: $c6;
    background: $c6;
    i {
      color: #ffffff;
    }
  }

  div{
    margin-top: -4px;
    font-size: 40px;
    color: $border-color !important;
  }
}
