<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/screen.css"/>
    <link rel="stylesheet" href="/lib/prettify/prettify.css"/>
    <link rel="stylesheet" href="/stylesheets/font-awesome.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:700,300' rel='stylesheet' type='text/css'>
    <title>Dewmap</title>
</head>
<body ng-controller="MainCtrl">

<nav id="main-nav" ng-include src="'/partials/nav'"></nav>


<section id="main-content">
    <ng-view></ng-view>
</section>

<script type="text/javascript" src="/lib/prettify/prettify.js"></script>
<script src="/lib/jquery/jquery-1.7.2.min.js"></script>
<script src="/lib/angular/angular.js"></script>
<script src="/lib/angular/angular-resource.js"></script>
<script src="/lib/hammer/hammer.js"></script>
<script src="/lib/showdown.js"></script>
<script src="/lib/moment.min.js"></script>
<script src="/js/vos.js"></script>
<script src="/js/app.js"></script>
<script src="/js/services.js"></script>
<script src="/js/controllers.js"></script>
<script src="/js/filters.js"></script>
<script src="/js/directives.js"></script>

</body>
</html>