<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <!--<link rel="stylesheet" href="/lib/bootstrap/2.0.2/css/bootstrap.css"/>-->
    <link rel="stylesheet" href="/stylesheets/screen.css"/>
    <link rel="stylesheet" href="/lib/prettify/prettify.css"/>
    <!--<link rel="stylesheet" href="/stylesheets/font-awesome.css">-->
    <link href='http://fonts.googleapis.com/css?family=Lato:700,300' rel='stylesheet' type='text/css'>
    <title>Dewmap</title>
</head>
<body ng-controller="MainCtrl" class="container-fluid">


    <div class="row-fluid main-wrap">
        <div class="span4 nav-wrap">
            <nav id="main-nav" ng-include src="'/partials/nav'"></nav>
        </div>
        <div class="span8" id="main-content">
            <ng-view></ng-view>
        </div>
    </div>


<script type="text/javascript" src="/lib/prettify/prettify.js"></script>
<script src="/lib/jquery/jquery-1.7.2.min.js"></script>
<script src="/lib/angular/angular.js"></script>
<script src="/lib/angular/angular-resource.js"></script>
<script src="/lib/hammer/hammer.js"></script>
<script src="/lib/showdown.js"></script>
<script src="/lib/moment.min.js"></script>
<script src="/js/vos.js"></script>
<script src="/js/app.js"></script>
<script src="/js/services.js"></script>
<script src="/js/controllers.js"></script>
<script src="/js/filters.js"></script>
<script src="/js/directives.js"></script>

</body>
</html>