/* line 8, ../sass/base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 20, ../sass/base.scss */
ul, li {
  padding: 0;
  margin: 0;
}

/* line 27, ../sass/base.scss */
form input {
  height: 30px !important;
}

/* line 66, ../sass/base.scss */
#posts li {
  list-style: none;
}
/* line 68, ../sass/base.scss */
#posts li a {
  text-decoration: none;
}
/* line 72, ../sass/base.scss */
#posts li h2 {
  color: #5a5a5a;
}
/* line 77, ../sass/base.scss */
#posts li:hover h2 {
  color: #000000;
}
/* line 80, ../sass/base.scss */
#posts li:hover time {
  color: #005580;
}
/* line 85, ../sass/base.scss */
#posts li hr, #posts li .lead {
  margin: 0;
  padding: 0;
}
/* line 90, ../sass/base.scss */
#posts li time {
  display: block;
  padding-bottom: 20px;
}

/* line 99, ../sass/base.scss */
#post input {
  border: 0px solid;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 36px;
  line-height: 40px;
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  color: inherit;
  text-rendering: optimizelegibility;
}
/* line 124, ../sass/base.scss */
#post p, #post blockquote {
  margin: 0 0 30px;
}
/* line 128, ../sass/base.scss */
#post textarea {
  width: 100%;
  border: 0px solid;
  padding: 0;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
/* line 134, ../sass/base.scss */
#post textarea:focus {
  outline: none;
}
