/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url("http://themes.googleusercontent.com/static/fonts/lato/v6/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff") format("woff");
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url("http://themes.googleusercontent.com/static/fonts/lato/v6/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff") format("woff");
}

/* line 103, ../sass/base.scss */
blockquote {
  font-size: 18px;
  border-color: #8d000a !important;
  border-left: 10px solid;
  padding-left: 20px;
  display: inline-block;
  padding-bottom: 0;
  margin-left: 0;
  margin-top: 5px;
  margin-bottom: 50px;
}
/* line 113, ../sass/base.scss */
blockquote p {
  margin-bottom: 10px !important;
}

/* line 118, ../sass/base.scss */
jl-markdown {
  display: block;
}

/* line 122, ../sass/base.scss */
.float-warp {
  height: 85px;
  overflow: overlay;
  border-bottom: solid 1px #e6e6e6;
}

/* line 129, ../sass/base.scss */
.control-wrap {
  float: right;
  clear: both;
  line-height: 85px;
  text-align: center;
  height: 85px;
  width: 85px;
  -webkit-border-radius: 85px;
  -moz-border-radius: 85px;
  -ms-border-radius: 85px;
  -o-border-radius: 85px;
  border-radius: 85px;
  border: solid #e6e6e6 5px;
  color: #e6e6e6;
}
/* line 139, ../sass/base.scss */
.control-wrap:hover {
  border-color: #0099d2;
  background: #0099d2;
}
/* line 142, ../sass/base.scss */
.control-wrap:hover i {
  color: #ffffff;
}
/* line 147, ../sass/base.scss */
.control-wrap div {
  margin-top: -4px;
  font-size: 40px;
  color: #e6e6e6 !important;
}

/* line 154, ../sass/base.scss */
.page-content {
  padding: 30px;
  padding-right: 115px;
  max-width: 950px;
}
/* line 160, ../sass/base.scss */
.page-content textarea {
  width: 100%;
  height: 700px;
  border: 0px solid;
  font-size: 16px;
  color: #555555;
}
/* line 167, ../sass/base.scss */
.page-content textarea:focus {
  outline: none;
}
/* line 172, ../sass/base.scss */
.page-content p {
  margin-bottom: 50px;
  text-align: justify;
}
/* line 177, ../sass/base.scss */
.page-content strong {
  color: #000000;
  font-weight: bold;
}
/* line 182, ../sass/base.scss */
.page-content h1 {
  color: #000000;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 30px;
}
/* line 190, ../sass/base.scss */
.page-content h2 {
  color: #000000;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 30px;
}

/* line 8, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../sass/screen.scss */
html, body {
  margin: 1px;
  font-size: 16px;
  font-style: normal;
  color: #555555;
  font-variant: normal;
  font-weight: 300;
  line-height: 26px;
  height: 100%;
  font-family: 'lato';
}
/* line 26, ../sass/screen.scss */
html a, body a {
  color: black;
  text-decoration: none;
}

/* line 32, ../sass/screen.scss */
#main-content {
  overflow-y: scroll;
  height: 100%;
  margin-left: 330px;
}

/* line 38, ../sass/screen.scss */
#main-nav {
  float: left;
  width: 330px;
  height: 100%;
  border-right: solid 1px #e6e6e6;
}
/* line 46, ../sass/screen.scss */
#main-nav #nav-logo .icon-logo {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/assets/img/logo.png");
}
/* line 34, ../sass/base.scss */
#main-nav #nav-logo i {
  background-color: black;
}
/* line 38, ../sass/base.scss */
#main-nav #nav-logo:hover {
  background-color: black;
}
/* line 40, ../sass/base.scss */
#main-nav #nav-logo:hover a, #main-nav #nav-logo:hover h1 {
  color: #ffffff;
}
/* line 55, ../sass/screen.scss */
#main-nav #nav-logo:hover .logo {
  background-image: url("/assets/img/dewmap_w.png");
}
/* line 34, ../sass/base.scss */
#main-nav #nav-posts i {
  background-color: #8d000a;
}
/* line 38, ../sass/base.scss */
#main-nav #nav-posts:hover {
  background-color: #8d000a;
}
/* line 40, ../sass/base.scss */
#main-nav #nav-posts:hover a, #main-nav #nav-posts:hover h1 {
  color: #ffffff;
}
/* line 34, ../sass/base.scss */
#main-nav #nav-about i {
  background-color: #c21f00;
}
/* line 38, ../sass/base.scss */
#main-nav #nav-about:hover {
  background-color: #c21f00;
}
/* line 40, ../sass/base.scss */
#main-nav #nav-about:hover a, #main-nav #nav-about:hover h1 {
  color: #ffffff;
}
/* line 34, ../sass/base.scss */
#main-nav #nav-contact i {
  background-color: #d96f1f;
}
/* line 38, ../sass/base.scss */
#main-nav #nav-contact:hover {
  background-color: #d96f1f;
}
/* line 40, ../sass/base.scss */
#main-nav #nav-contact:hover a, #main-nav #nav-contact:hover h1 {
  color: #ffffff;
}
/* line 34, ../sass/base.scss */
#main-nav #nav-github i {
  background-color: #a3742a;
}
/* line 38, ../sass/base.scss */
#main-nav #nav-github:hover {
  background-color: #a3742a;
}
/* line 40, ../sass/base.scss */
#main-nav #nav-github:hover a, #main-nav #nav-github:hover h1 {
  color: #ffffff;
}
/* line 34, ../sass/base.scss */
#main-nav #nav-twitter i {
  background-color: #736126;
}
/* line 38, ../sass/base.scss */
#main-nav #nav-twitter:hover {
  background-color: #736126;
}
/* line 40, ../sass/base.scss */
#main-nav #nav-twitter:hover a, #main-nav #nav-twitter:hover h1 {
  color: #ffffff;
}
/* line 34, ../sass/base.scss */
#main-nav #nav-admin i {
  background-color: black;
}
/* line 38, ../sass/base.scss */
#main-nav #nav-admin:hover {
  background-color: black;
}
/* line 40, ../sass/base.scss */
#main-nav #nav-admin:hover a, #main-nav #nav-admin:hover h1 {
  color: #ffffff;
}
/* line 86, ../sass/screen.scss */
#main-nav li {
  overflow: hidden;
  height: 85px;
  position: relative;
  border-bottom: solid 1px #e6e6e6;
}
/* line 90, ../sass/screen.scss */
#main-nav li h1 {
  color: #000000;
  padding-left: 20px;
  padding-top: 25px;
  text-transform: uppercase;
  font-size: 33px;
  font-weight: bold;
  padding-left: 30px;
  white-space: nowrap;
  font-size: 16px;
  padding-top: 27px;
  margin-left: 85px;
}
/* line 97, ../sass/screen.scss */
#main-nav li i {
  padding-top: 25px;
  width: 85px;
  height: 85px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 40px;
  color: #ffffff;
}
/* line 101, ../sass/screen.scss */
#main-nav li a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
/* line 107, ../sass/screen.scss */
#main-nav li .shine {
  top: 5px;
  width: 75px;
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  height: 30px;
  -moz-border-radius-bottomleft: 30px;
  -webkit-border-bottom-left-radius: 30px;
  border-bottom-left-radius: 30px;
  -moz-border-radius-bottomright: 30px;
  -webkit-border-bottom-right-radius: 30px;
  border-bottom-right-radius: 30px;
  left: 5px;
}
/* line 112, ../sass/screen.scss */
#main-nav li .logo {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/assets/img/dewmap.png");
  height: 85px;
  margin-left: 85px;
  margin-top: -4px;
}

/* line 131, ../sass/screen.scss */
#post-list li {
  overflow: hidden;
  height: 85px;
  position: relative;
  border-bottom: solid 1px #e6e6e6;
}
/* line 134, ../sass/screen.scss */
#post-list li:hover {
  background-color: #000000;
}
/* line 136, ../sass/screen.scss */
#post-list li:hover h1 {
  color: #ffffff;
}
/* line 141, ../sass/screen.scss */
#post-list li a {
  width: 100%;
  height: 100%;
}
/* line 147, ../sass/screen.scss */
#post-list li h1 {
  color: #000000;
  padding-left: 20px;
  padding-top: 25px;
  text-transform: uppercase;
  font-size: 33px;
  font-weight: bold;
  padding-left: 30px;
  white-space: nowrap;
}
/* line 151, ../sass/screen.scss */
#post-list li time {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  padding-top: 25px;
  text-align: center;
  color: white;
  background-color: #000000;
  position: absolute;
  right: 0;
  top: 0;
  width: 85px;
  height: 85px;
}
/* line 79, ../sass/base.scss */
#post-list li time strong {
  font-weight: bold;
}
/* line 155, ../sass/screen.scss */
#post-list li .shine {
  right: 5px;
  top: 5px;
  width: 75px;
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  height: 30px;
  -moz-border-radius-bottomleft: 30px;
  -webkit-border-bottom-left-radius: 30px;
  border-bottom-left-radius: 30px;
  -moz-border-radius-bottomright: 30px;
  -webkit-border-bottom-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* line 167, ../sass/screen.scss */
#post article header {
  overflow: hidden;
  height: 85px;
  position: relative;
  border-bottom: solid 1px #e6e6e6;
}
/* line 170, ../sass/screen.scss */
#post article header input {
  color: #000000;
  padding-left: 20px;
  padding-top: 25px;
  text-transform: uppercase;
  font-size: 33px;
  font-weight: bold;
  padding-left: 30px;
  white-space: nowrap;
  border: 0px solid;
  padding: 0;
  margin: 0;
  width: 100%;
  padding-right: 100px;
  padding-top: 18px;
  vertical-align: middle;
  text-align: -webkit-auto;
  padding-left: 25px;
  padding-bottom: 20px;
}
/* line 183, ../sass/screen.scss */
#post article header input:focus {
  outline: none;
}
/* line 188, ../sass/screen.scss */
#post article header h1 {
  color: #000000;
  padding-left: 20px;
  padding-top: 25px;
  text-transform: uppercase;
  font-size: 33px;
  font-weight: bold;
  padding-left: 30px;
  white-space: nowrap;
}
/* line 192, ../sass/screen.scss */
#post article header time {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  padding-top: 25px;
  text-align: center;
  color: white;
  background-color: #000000;
  position: absolute;
  right: 0;
  top: 0;
  width: 85px;
  height: 85px;
}
/* line 79, ../sass/base.scss */
#post article header time strong {
  font-weight: bold;
}
/* line 196, ../sass/screen.scss */
#post article header .shine {
  right: 5px;
  top: 5px;
  width: 75px;
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  height: 30px;
  -moz-border-radius-bottomleft: 30px;
  -webkit-border-bottom-left-radius: 30px;
  border-bottom-left-radius: 30px;
  -moz-border-radius-bottomright: 30px;
  -webkit-border-bottom-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* line 210, ../sass/screen.scss */
#login header {
  overflow: hidden;
  height: 85px;
  position: relative;
  border-bottom: solid 1px #e6e6e6;
}
/* line 213, ../sass/screen.scss */
#login header h1 {
  color: #000000;
  padding-left: 20px;
  padding-top: 25px;
  text-transform: uppercase;
  font-size: 33px;
  font-weight: bold;
  padding-left: 30px;
  white-space: nowrap;
}
/* line 217, ../sass/screen.scss */
#login header time {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  padding-top: 25px;
  text-align: center;
  color: white;
  background-color: #000000;
  position: absolute;
  right: 0;
  top: 0;
  width: 85px;
  height: 85px;
}
/* line 79, ../sass/base.scss */
#login header time strong {
  font-weight: bold;
}
/* line 221, ../sass/screen.scss */
#login header .shine {
  right: 5px;
  top: 5px;
  width: 75px;
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  height: 30px;
  -moz-border-radius-bottomleft: 30px;
  -webkit-border-bottom-left-radius: 30px;
  border-bottom-left-radius: 30px;
  -moz-border-radius-bottomright: 30px;
  -webkit-border-bottom-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* line 229, ../sass/screen.scss */
.title-input-wrapper {
  max-width: 950px;
  line-height: 85px;
  padding-left: 30px;
  padding-right: 115px;
}

/* line 236, ../sass/screen.scss */
.date-input-wrapper {
  padding: 20px 5px;
  width: 85px;
  height: 85px;
}

/* line 242, ../sass/screen.scss */
.date-input {
  width: 100%;
  line-height: 17px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  resize: none;
}

/* line 252, ../sass/screen.scss */
.title-input {
  width: 100%;
  padding-left: 0;
  vertical-align: middle;
}

/* line 258, ../sass/screen.scss */
.is-not-admin {
  display: none;
}

/* line 262, ../sass/screen.scss */
.is-saved {
  color: rgba(230, 230, 230, 0.2);
  border-color: rgba(230, 230, 230, 0.2);
}

/* line 267, ../sass/screen.scss */
.control-wrap-left {
  float: left;
  clear: both;
  line-height: 85px;
  text-align: center;
  height: 85px;
  width: 85px;
  -webkit-border-radius: 85px;
  -moz-border-radius: 85px;
  -ms-border-radius: 85px;
  -o-border-radius: 85px;
  border-radius: 85px;
  border: solid #e6e6e6 5px;
  color: #e6e6e6;
}
/* line 277, ../sass/screen.scss */
.control-wrap-left:hover {
  border-color: #0099d2;
  background: #0099d2;
}
/* line 280, ../sass/screen.scss */
.control-wrap-left:hover i {
  color: #ffffff;
}
/* line 285, ../sass/screen.scss */
.control-wrap-left div {
  margin-top: -4px;
  font-size: 40px;
  color: #e6e6e6 !important;
}
