/* line 6, ../sass/base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../sass/base.scss */
ul, li {
  padding: 0;
  margin: 0;
}

/* line 19, ../sass/base.scss */
form input {
  height: 30px !important;
}

/* line 41, ../sass/base.scss */
#posts li {
  list-style: none;
}
/* line 43, ../sass/base.scss */
#posts li a {
  text-decoration: none;
}
/* line 47, ../sass/base.scss */
#posts li h2 {
  color: #5a5a5a;
}
/* line 52, ../sass/base.scss */
#posts li:hover h2 {
  color: #000000;
}
/* line 55, ../sass/base.scss */
#posts li:hover time {
  color: #005580;
}
/* line 60, ../sass/base.scss */
#posts li hr, #posts li .lead {
  margin: 0;
  padding: 0;
}
/* line 65, ../sass/base.scss */
#posts li time {
  display: block;
  padding-bottom: 20px;
}

/* line 74, ../sass/base.scss */
#post input {
  border: 0px solid;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 36px;
  line-height: 40px;
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  color: inherit;
  text-rendering: optimizelegibility;
}
/* line 99, ../sass/base.scss */
#post p, #post blockquote {
  margin: 0 0 30px;
}
/* line 103, ../sass/base.scss */
#post textarea {
  width: 100%;
  border: 0px solid;
  padding: 0;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
/* line 109, ../sass/base.scss */
#post textarea:focus {
  outline: none;
}
/* line 114, ../sass/base.scss */
#post time {
  color: #0088cc;
}

/* line 5, ../sass/screen.scss */
.txtstuff {
  resize: none;
  overflow: hidden;
}

/* line 10, ../sass/screen.scss */
.hiddendiv {
  display: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* line 17, ../sass/screen.scss */
.common {
  width: 500px;
  min-height: 50px;
  overflow: hidden;
}

/* line 23, ../sass/screen.scss */
.lbr {
  line-height: 3px;
}
