/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url("http://themes.googleusercontent.com/static/fonts/lato/v6/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff") format("woff");
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url("http://themes.googleusercontent.com/static/fonts/lato/v6/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff") format("woff");
}

/* line 8, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../sass/screen.scss */
html, body {
  margin: 1px;
  font-size: 16px;
  font-style: normal;
  color: #555555;
  font-variant: normal;
  font-weight: 300;
  line-height: 26px;
  height: 100%;
  font-family: 'lato';
}

/* line 28, ../sass/screen.scss */
.dp-icon {
  height: 85px;
  width: 85px;
  background: red;
}

/* line 34, ../sass/screen.scss */
.icon-wrapper {
  font-size: 40px;
  color: #ffffff;
}

/* line 39, ../sass/screen.scss */
.dewmap-logo {
  padding-left: 25px;
}

/* line 51, ../sass/screen.scss */
.post-menu {
  width: 85px;
  background-color: red;
  float: left;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

/* line 60, ../sass/screen.scss */
.post-wrapper {
  padding: 30px;
  padding-right: 115px;
  max-width: 950px;
}
/* line 65, ../sass/screen.scss */
.post-wrapper p {
  margin-bottom: 30px;
  text-align: justify;
}
/* line 70, ../sass/screen.scss */
.post-wrapper strong {
  color: #000000;
  font-weight: bold;
}
/* line 75, ../sass/screen.scss */
.post-wrapper h1 {
  color: #000000;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 30px;
}
/* line 83, ../sass/screen.scss */
.post-wrapper h2 {
  color: #000000;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 30px;
}

/* line 93, ../sass/screen.scss */
.post-input {
  font-size: 16px;
  font-family: 'verdana';
  width: 100%;
  resize: none;
  max-width: 835px;
  min-height: 700px;
}

/* line 103, ../sass/screen.scss */
.nav-title {
  color: #000000;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  padding-left: 30px;
  white-space: nowrap;
}

/* line 113, ../sass/screen.scss */
.nav-title-wrapper-black:hover {
  background: #000000;
}
/* line 115, ../sass/screen.scss */
.nav-title-wrapper-black:hover label {
  color: #ffffff;
}

/* line 122, ../sass/screen.scss */
.nav-title-wrapper-c1:hover {
  background: #8d000a;
}
/* line 124, ../sass/screen.scss */
.nav-title-wrapper-c1:hover label {
  color: #ffffff;
}

/* line 131, ../sass/screen.scss */
.nav-title-wrapper-c2:hover {
  background: #c21f00;
}
/* line 133, ../sass/screen.scss */
.nav-title-wrapper-c2:hover label {
  color: #ffffff;
}

/* line 140, ../sass/screen.scss */
.nav-title-wrapper-c3:hover {
  background: #d96f1f;
}
/* line 142, ../sass/screen.scss */
.nav-title-wrapper-c3:hover label {
  color: #ffffff;
}

/* line 149, ../sass/screen.scss */
.nav-title-wrapper-c4:hover {
  background: #a3742a;
}
/* line 151, ../sass/screen.scss */
.nav-title-wrapper-c4:hover label {
  color: #ffffff;
}

/* line 158, ../sass/screen.scss */
.nav-title-wrapper-c5:hover {
  background: #736126;
}
/* line 160, ../sass/screen.scss */
.nav-title-wrapper-c5:hover label {
  color: #ffffff;
}

/* line 168, ../sass/screen.scss */
.post-title-wrapper:hover {
  background: #8d000a;
}
/* line 170, ../sass/screen.scss */
.post-title-wrapper:hover label {
  color: #ffffff;
}
/* line 173, ../sass/screen.scss */
.post-title-wrapper:hover .is-black {
  background: #8d000a;
}

/* line 181, ../sass/screen.scss */
.post-title {
  color: #000000;
  text-transform: uppercase;
  font-size: 33px;
  font-weight: bold;
  padding-left: 30px;
  white-space: nowrap;
}

/* line 191, ../sass/screen.scss */
time {
  line-height: 17px;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
/* line 197, ../sass/screen.scss */
time strong {
  font-weight: bold;
}

/* line 202, ../sass/screen.scss */
.is-high-light {
  margin: 5px;
  position: absolute;
  width: 77px;
  background: rgba(255, 255, 255, 0.3);
  height: 30px;
  -moz-border-radius-bottomleft: 30px;
  -webkit-border-bottom-left-radius: 30px;
  border-bottom-left-radius: 30px;
  -moz-border-radius-bottomright: 30px;
  -webkit-border-bottom-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* line 212, ../sass/screen.scss */
.red-help {
  border: solid red 1px;
  background: rgba(255, 0, 0, 0.1);
}

/* line 217, ../sass/screen.scss */
.blue-help {
  border: solid blue 1px;
  background: rgba(0, 0, 255, 0.1);
}

/* line 223, ../sass/screen.scss */
aside {
  width: 330px;
  float: left;
}

/* line 228, ../sass/screen.scss */
.is-black {
  background: black;
}

/* line 232, ../sass/screen.scss */
.is-red {
  background: red;
}

/* line 236, ../sass/screen.scss */
.is-c1 {
  background: #8d000a;
}

/* line 240, ../sass/screen.scss */
.is-c2 {
  background: #c21f00;
}

/* line 244, ../sass/screen.scss */
.is-c3 {
  background: #d96f1f;
}

/* line 248, ../sass/screen.scss */
.is-c4 {
  background: #a3742a;
}

/* line 252, ../sass/screen.scss */
.is-c5 {
  background: #736126;
}

/* line 256, ../sass/screen.scss */
.is-float-right {
  float: right;
}

/* line 260, ../sass/screen.scss */
.is-float-left {
  float: left;
}

/* line 264, ../sass/screen.scss */
.is-clear {
  clear: both;
}

/* line 268, ../sass/screen.scss */
.control-wrapper {
  margin-top: -4px;
  font-size: 40px;
  color: #e6e6e6;
}

/* line 274, ../sass/screen.scss */
.is-control {
  height: 85px;
  width: 85px;
  -webkit-border-radius: 85px;
  -moz-border-radius: 85px;
  -ms-border-radius: 85px;
  -o-border-radius: 85px;
  border-radius: 85px;
  border: solid #e6e6e6 5px;
}
/* line 279, ../sass/screen.scss */
.is-control:hover {
  border-color: #0099d2;
  background: #0099d2;
}
/* line 282, ../sass/screen.scss */
.is-control:hover i {
  color: #ffffff;
}

/* line 288, ../sass/screen.scss */
.title-input-wrapper {
  max-width: 950px;
  line-height: 85px;
  padding-left: 30px;
  padding-right: 115px;
}

/* line 295, ../sass/screen.scss */
.date-input-wrapper {
  padding: 20px 5px;
  width: 85px;
  height: 85px;
}

/* line 301, ../sass/screen.scss */
.date-input {
  width: 100%;
  line-height: 17px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  resize: none;
}

/* line 312, ../sass/screen.scss */
.title-input {
  width: 100%;
  padding-left: 0;
  vertical-align: middle;
}

/* line 318, ../sass/screen.scss */
.is-inline-block {
  display: inline-block;
  vertical-align: middle;
}

/* line 323, ../sass/screen.scss */
jl-markdown {
  display: block;
}

/* line 328, ../sass/screen.scss */
section {
  overflow-y: scroll;
  height: 100%;
  margin-left: 330px;
}

/* line 334, ../sass/screen.scss */
.box-wrapper {
  overflow: hidden;
  border-bottom: solid #e6e6e6 1px;
  display: block;
}

/* line 341, ../sass/screen.scss */
.main-content {
  border-left: solid #e6e6e6 1px;
}
/* line 343, ../sass/screen.scss */
.main-content > ul {
  margin: 0;
}
/* line 345, ../sass/screen.scss */
.main-content > ul > li {
  list-style-type: none;
}

/* line 353, ../sass/screen.scss */
blockquote {
  font-size: 18px;
  border-color: #8d000a !important;
  border-left: 10px solid;
  padding-left: 20px;
  display: inline-block;
  padding-bottom: 0;
  margin-left: 0;
  margin-top: 5px;
  margin-bottom: 10px;
}
/* line 363, ../sass/screen.scss */
blockquote p {
  margin-bottom: 10px !important;
}

/* line 370, ../sass/screen.scss */
.centered-text-wrapper {
  width: 85px;
  height: 85px;
  display: table;
}

/* line 376, ../sass/screen.scss */
.centered-img-wrapper {
  width: 85px;
  height: 85px;
  line-height: 85px;
  text-align: center;
}

/* line 383, ../sass/screen.scss */
.is-centered-img {
  margin: auto;
  vertical-align: middle;
  text-align: center;
}

/* line 389, ../sass/screen.scss */
.is-centered-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* line 395, ../sass/screen.scss */
.is-not-admin {
  display: none;
}
