<section id="post">
<article>
    <header>
        <time><strong>{{post.date | date:'MMM d'}}</strong><br>{{post.date | date:'yyyy'}}</time>
        <div class="shine"></div>
        <input ng-model="post.title"/>
    </header>

    <a ng-click="PostSrv.onPreview(post)">
        <div class="control-wrap">
            <div>
                <i class="icon-eye-open"></i>
            </div>
        </div>
    </a>
    <a ng-click="PostSrv.onSave(post)"
       ng-class="PostSrv.isSavedClass()" ng-disabled="isClean()">
        <div class="control-wrap">
            <div>
                <i class="icon-save" ng-class="PostSrv.isSavedClass()"></i>
            </div>
        </div>
    </a>
    <a ng-click="PostSrv.onCancel(post._id)">
        <div class="control-wrap">
            <div>
                <i class="icon-remove"></i>
            </div>
        </div>
    </a>
    <a ng-click="PostSrv.onDestroy(post)">
        <div class="control-wrap">
            <div>
                <i class="icon-trash"></i>
            </div>
        </div>
    </a>

    <div class="post-content">
        <textarea class="post-input" ng-model="post.text"/>
    </div>

</article>
    </section>