<div ng-controller="NavCtrl">
<span ng-click="PostSrv.onQuery()" class="box-wrapper nav-title-wrapper-black"
      onmouseover="$('#logo').attr('src','assets/img/dewmap_w.png')"
      onmouseout="$('#logo').attr('src','assets/img/dewmap.png')">
        <div class="is-black is-float-left">
            <div class="is-high-light"></div>
            <div class="centered-img-wrapper">
                <img class="is-centered-img" src="assets/img/logo.png" alt="">
            </div>
        </div>
        <div class="centered-img-wrapper is-float-left">
            <img id="logo" class="is-centered-img dewmap-logo" src="assets/img/dewmap.png" alt="">
        </div>
        <div class="centered-text-wrapper"></div>
    </span>
<span ng-click="PostSrv.onQuery()" class="box-wrapper nav-title-wrapper-c1">
        <div class="is-c1 is-float-left">
            <div class="is-high-light"></div>
            <div class="centered-img-wrapper">
                <div class="icon-wrapper">
                    <i class="icon-folder-open"></i>
                </div>
            </div>
        </div>
        <div class="centered-text-wrapper">
            <label class="nav-title is-centered-text">POSTS</label>
        </div>
    </span>
<span ng-click="onAbout()" class="box-wrapper nav-title-wrapper-c2">
        <div class="is-c2 is-float-left">
            <div class="is-high-light"></div>
            <div class="centered-img-wrapper">
                <div class="icon-wrapper">
                    <i class="icon-book"></i>
                </div>
                <img class="is-centered-img" src="assets/img/logo.png" alt="">
            </div>
        </div>
        <div class="centered-text-wrapper">
            <label class="nav-title is-centered-text">ABOUT</label>
        </div>
    </span>
<span ng-click="onContact()" class="box-wrapper nav-title-wrapper-c3">
        <div class="is-c3 is-float-left">
            <div class="is-high-light"></div>
            <div class="centered-img-wrapper">
                <div class="icon-wrapper">
                    <i class="icon-envelope-alt"></i>
                </div>
            </div>
        </div>
        <div class="centered-text-wrapper">
            <label class="nav-title is-centered-text">CONTACT</label>
        </div>
    </span>
<span ng-click="onGitHub()" class="box-wrapper nav-title-wrapper-c4">
        <div class="is-c4 is-float-left">
            <div class="is-high-light"></div>
            <div class="centered-img-wrapper">
                <div class="icon-wrapper">
                    <i class="icon-github"></i>
                </div>
            </div>
        </div>
        <div class="centered-text-wrapper">
            <label class="nav-title is-centered-text">GITHUB</label>
        </div>
    </span>
<span ng-click="onTwitter()" class="box-wrapper nav-title-wrapper-c5">
        <div class="is-c5 is-float-left">
            <div class="is-high-light"></div>
            <div class="centered-img-wrapper">
                <div class="icon-wrapper">
                    <i class="icon-twitter"></i>
                </div>
            </div>
        </div>
        <div class="centered-text-wrapper">
            <label class="nav-title is-centered-text">TWITTER</label>
        </div>
    </span>
    <span ng-click="PostSrv.onAdmin()" class="box-wrapper nav-title-wrapper-black">
        <div class="is-black is-float-left">
            <div class="is-high-light"></div>
            <div class="centered-img-wrapper">
                <div class="icon-wrapper">
                    <i class="icon-cog"></i>
                </div>
            </div>
        </div>
        <div class="centered-text-wrapper">
            <label class="nav-title is-centered-text">IS ADMIN : {{PostSrv.isAdmin}}</label>
        </div>
    </span>
</div>